<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Вывод списка</h1>
    {%for item in items%}
    <p>{{item}}</p>
    {%endfor%}
</body>
</html>
<h1>Шаувхалова Арбита{{name}}</h1>
<a href="@xxaviiiii">Telegram</a>
<img src="https://damion.club/uploads/posts/2022-11/1668399968_damion-club-p-beshenaya-chikhuakhua-instagram-90.jpg">
<p><em>Порода:</em> Чихуахуа</p>
<p><b>Характер:</b> Бешеный</p>
<p><b>Описание: Хорошо воспитана, умная, но до безумия наплевательски относится ко всему</b></p>\